<div id="ectf">
<div id="head">Result</div><br />
<div id="subhead" style="text-align: center;">
	<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  	<div class="home">
    <div class="alert alert-<%= name == :notice ? "success" : "error" %> span7"> 
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
</div>
  <% end %>
<% end %>
<% @result.each do |f| %>
<%= f.user.name %>
<%= f.score %><br />
<% end %>


</div><br />

</div>