<div id="ectf">
<div id="head">Welcome to ECTF</div><br />
<div id="subhead" style="text-align: center;">3rd Round</div><br />
<div id="login">
	<%= button_to "Login >>" , new_user_session_path , id: "login_btn" , methos: :get %>
</div>
</div>