@charset "utf-8";
/* CSS Document */
body
{
background-image:url(/assets/binary.jpg);
background-repeat:repeat;
}
#ectf
{
position:absolute;
background-color:#000000;
color:#006600;
left:50%;
margin-left:-150px;
top:30%;
border:2px solid;
border-radius:25px;
padding:30px;
font-size:36px;
text-align:center;
}
button img
 {
  vertical-align:middle;
 }
#head {
    text-decoration: underline;
} 
#subhead{
    font-size: 28px;
    text-align: right;
}
#login_btn
{
	 height:30px;
     padding:4px;
	 margin-bottom:6px;
     text-decoration: none;
     color: #363636;
     font-weight: bold;
     border: 1px solid #CCCCCC;
     background-color: #e3e3e3;
     background-image: -moz-linear-gradient(top,#fff 0%, #F2F3F1 100%);
     background-image: -webkit-linear-gradient(top,#fff 0%, #F2F3F1 100%);
     background-image: -o-linear-gradient(top,#fff 0%, #F2F3F1 100%);
     background-image: linear-gradient(top,#fff 0%, #F2F3F1 100%); 
     border-radius: 2px;
     cursor: pointer;
 
}
 #login_btn:hover,#login_btn:active
    {
        background-color: #e3e3e3;
        text-decoration: none;
        color: #000;
        background-image: -moz-linear-gradient(top,#e3e3e3 0%, #fff 100%);
        background-image: -webkit-linear-gradient(top,#e3e3e3 0%, #fff 100%);
        background-image: -o-linear-gradient(top,#e3e3e3 0%, #fff 100%);
        background-image: linear-gradient(top,#e3e3e3 0%, #fff 100%);   
    }
